.fullpage .section p,
.fullpage .section .slide p {
  margin: 0 4em;
}
.fullpage .layer {
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.fullpage h1,
.fullpage h2,
.fullpage h3,
.fullpage h4,
.fullpage h5,
.fullpage h6 {
  margin: 1em auto;
  text-align: center;
}
.fullpage img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
.fullpage p {
  font-size: 1.25em;
}
.fullpage ul,
.fullpage ol,
.fullpage pre {
  margin-left: 7em;
  margin-right: 7em;
}
.fullpage code {
  color: #880000;
  background: #F0F0F0;
}
.fullpage .backgroundVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black;
  background-image: /* our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover;
  z-index:3;
}
.fullpage a,
.fullpage a:link,
.fullpage a:visited {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed black;
}
.fullpage a:hover,
.fullpage a:active {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black;
}